<a href="https://colab.research.google.com/github/niharsheth24/Hello-World-/blob/master/Stock_Screener.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from datetime import datetime
from pandas.tseries.offsets import CustomBusinessDay
import os
import glob
import warnings
warnings.filterwarnings("always")
warnings.filterwarnings("ignore")
os.system('rm /content/bhavcopies/eq*')
def EOD(start,end):
    bday=CustomBusinessDay(holidays=['2021-01-26','2021-03-11','2021-03-29','2021-04-02','2021-04-14','2021-04-21','2021-05-13','2021-07-21','2021-08-19','2021-09-10','2021-10-15','2021-11-05','2021-11-19'])
    dt = pd.date_range(start,end,freq=bday)
    for tday in dt:  
                    dd=datetime.strftime(tday,"%d")
                    mm=datetime.strftime(tday,"%m")
                    yyyy=datetime.strftime(tday,"%Y")
                    url = f'https://archives.nseindia.com/products/content/sec_bhavdata_full_'+dd+mm+yyyy+'.csv'
                    #print(url)
                    datafutures=pd.read_csv(url)
                    #print(datafutures)
                    data=datafutures[~datafutures.duplicated(subset=['SYMBOL'])]
                    #print(data)
                    data.to_csv(r'/content/bhavcopies/eq'+dd+mm+'.csv',index=False)
                    
EOD('13/06/2021', '23/06/2021')

#COMBINE ALL FILES IN EQ

os.chdir(r'/content/bhavcopies')
extension = 'csv' 
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv_eq = pd.concat([pd.read_csv(f) for f in all_filenames ])
#combined_csv_eq.to_csv( "Eq.csv", index=False, encoding='utf-8-sig')

In [2]:
combined_csv_eq.head()

       SYMBOL  SERIES         DATE1  ...   NO_OF_TRADES   DELIV_QTY   DELIV_PER
0   20MICRONS      EQ   22-Jun-2021  ...           2599       82823       52.81
1  21STCENMGM      EQ   22-Jun-2021  ...             13        2367      100.00
2  3IINFOTECH      BE   22-Jun-2021  ...          41120           -           -
3     3MINDIA      EQ   22-Jun-2021  ...           1030         723       44.91
4      3PLAND      EQ   22-Jun-2021  ...            119       13683       80.97

[5 rows x 15 columns]

In [3]:
df = combined_csv_eq[combined_csv_eq[' SERIES']==' EQ']

In [4]:
dates = df[' DATE1'].unique()
dates = dates.tolist()
dates.sort(reverse=True)

In [5]:
dates

[' 23-Jun-2021',
 ' 22-Jun-2021',
 ' 21-Jun-2021',
 ' 18-Jun-2021',
 ' 17-Jun-2021',
 ' 16-Jun-2021',
 ' 15-Jun-2021',
 ' 14-Jun-2021']

In [6]:
d1 = df[df[' DATE1']==dates[0]]
d2 = df[df[' DATE1']==dates[1]]
d3 = df[df[' DATE1']==dates[-1]]

In [7]:
merged = pd.merge(d1,d2,on=['SYMBOL'],suffixes=['_tday', '_prev'])
merged1 = pd.merge(d1,d3,on=['SYMBOL'],suffixes=['_tday', '_prev'])

In [8]:
merged.head()

       SYMBOL  SERIES_tday  ...  DELIV_QTY_prev   DELIV_PER_prev
0   20MICRONS           EQ  ...           82823            52.81
1  21STCENMGM           EQ  ...            2367           100.00
2     3MINDIA           EQ  ...             723            44.91
3      3PLAND           EQ  ...           13683            80.97
4      5PAISA           EQ  ...           13090            46.58

[5 rows x 29 columns]

In [9]:
merged[' DELIV_QTY_tday'] = merged[' DELIV_QTY_tday'].astype(int)
merged[' DELIV_QTY_prev'] = merged[' DELIV_QTY_prev'].astype(int)
merged[' AVG_PRICE_tday'] = merged[' AVG_PRICE_tday'].astype(int)

merged1[' DELIV_QTY_tday'] = merged1[' DELIV_QTY_tday'].astype(int)
merged1[' DELIV_QTY_prev'] = merged1[' DELIV_QTY_prev'].astype(int)
merged1[' AVG_PRICE_tday'] = merged1[' AVG_PRICE_tday'].astype(int)

In [10]:
merged['%CHG'] = (merged[' CLOSE_PRICE_tday'] - merged[' PREV_CLOSE_tday']) / merged[' PREV_CLOSE_tday'] * 100
merged['%CHG_DELIV_QTY'] = (merged[' DELIV_QTY_tday'] / merged[' DELIV_QTY_prev'])

merged1['%CHG'] = (merged1[' CLOSE_PRICE_tday'] - merged1[' PREV_CLOSE_tday']) / merged1[' PREV_CLOSE_tday'] * 100
merged1['%CHG_DELIV_QTY'] = (merged1[' DELIV_QTY_tday'] / merged1[' DELIV_QTY_prev'])

In [11]:
merged

          SYMBOL  SERIES_tday  ...      %CHG  %CHG_DELIV_QTY
0      20MICRONS           EQ  ... -1.429706        0.929428
1     21STCENMGM           EQ  ...  1.980198        0.593578
2        3MINDIA           EQ  ... -0.300324        0.824343
3         3PLAND           EQ  ...  0.724638        1.493167
4         5PAISA           EQ  ... -1.173820        0.916654
...          ...          ...  ...       ...             ...
1474  ZODIACLOTH           EQ  ...  8.683068        9.090414
1475        ZOTA           EQ  ... -0.560598        0.216376
1476       ZUARI           EQ  ... -0.157542        1.165191
1477   ZUARIGLOB           EQ  ...  2.082430        2.045221
1478   ZYDUSWELL           EQ  ... -0.926847        1.340913

[1479 rows x 31 columns]

In [12]:
merged1

          SYMBOL  SERIES_tday  ...      %CHG  %CHG_DELIV_QTY
0      20MICRONS           EQ  ... -1.429706        0.511078
1     21STCENMGM           EQ  ...  1.980198        0.219155
2        3MINDIA           EQ  ... -0.300324        0.343318
3         3PLAND           EQ  ...  0.724638        0.428682
4         5PAISA           EQ  ... -1.173820        0.161827
...          ...          ...  ...       ...             ...
1470  ZODIACLOTH           EQ  ...  8.683068       15.470748
1471        ZOTA           EQ  ... -0.560598        3.458711
1472       ZUARI           EQ  ... -0.157542        0.207003
1473   ZUARIGLOB           EQ  ...  2.082430        0.711510
1474   ZYDUSWELL           EQ  ... -0.926847        0.663351

[1475 rows x 31 columns]

In [13]:
data = merged[(merged['%CHG_DELIV_QTY']>2) & (merged['%CHG']>0) & (merged[' DELIV_QTY_tday']>1000000) & (merged[' AVG_PRICE_tday']>100)]
data1 = merged1[(merged1['%CHG_DELIV_QTY']>2) & (merged1['%CHG']>0) & (merged1[' DELIV_QTY_tday']>1000000) & (merged1[' AVG_PRICE_tday']>100)]

In [14]:
data = data.sort_values(by=[' DELIV_QTY_tday','%CHG_DELIV_QTY', '%CHG'], ascending=False)
data1 = data1.sort_values(by=[' DELIV_QTY_tday','%CHG_DELIV_QTY', '%CHG'], ascending=False)

In [15]:
data = data.sort_values(by=['%CHG_DELIV_QTY', '%CHG'], ascending=False)
data1 = data1.sort_values(by=['%CHG_DELIV_QTY', '%CHG'], ascending=False)

In [16]:
data = data.reset_index(drop=True)
data1 = data1.reset_index(drop=True)

In [17]:
final = data[['SYMBOL', ' DATE1_tday',' OPEN_PRICE_tday', ' HIGH_PRICE_tday', ' LOW_PRICE_tday', ' CLOSE_PRICE_tday', ' PREV_CLOSE_tday', ' AVG_PRICE_tday',' DELIV_QTY_tday', ' DELIV_QTY_prev', ' DELIV_PER_tday', '%CHG', '%CHG_DELIV_QTY']]
final1 = data1[['SYMBOL', ' DATE1_tday',' OPEN_PRICE_tday', ' HIGH_PRICE_tday', ' LOW_PRICE_tday', ' CLOSE_PRICE_tday', ' PREV_CLOSE_tday', ' AVG_PRICE_tday',' DELIV_QTY_tday', ' DELIV_QTY_prev', ' DELIV_PER_tday', '%CHG', '%CHG_DELIV_QTY']]

In [18]:
final['Entry_Price'] = ((final[' LOW_PRICE_tday'] + final[' AVG_PRICE_tday'])/2).astype(int)
final['Target_Price'] = (final[' AVG_PRICE_tday'] + (final[' AVG_PRICE_tday']*0.05)).astype(int)

final1['Entry_Price'] = ((final1[' LOW_PRICE_tday'] + final1[' AVG_PRICE_tday'])/2).astype(int)
final1['Target_Price'] = (final1[' AVG_PRICE_tday'] + (final1[' AVG_PRICE_tday']*0.05)).astype(int)

In [19]:
# def wwma(values, n):
#     return values.ewm(alpha=1/n, adjust=False).mean()

# def atr(df, n=14):
#     data = final.copy()
#     high = data['HIGH_PRICE_tday']
#     low = data['LOW_PRICE_tday']
#     close = data['CLOSE_PRICE_tday']
#     data['tr0'] = abs(high - low)
#     data['tr1'] = abs(high - close.shift())
#     data['tr2'] = abs(low - close.shift())
#     tr = data[['tr0', 'tr1', 'tr2']].max(axis=1)
#     atr = wwma(tr, n)
#     return atr

In [20]:
final

    SYMBOL    DATE1_tday  ...  Entry_Price  Target_Price
0      CUB   23-Jun-2021  ...          164           174
1      BEL   23-Jun-2021  ...          157           171
2   ASHOKA   23-Jun-2021  ...          100           107
3      ITI   23-Jun-2021  ...          133           140
4  OLECTRA   23-Jun-2021  ...          197           214
5    NOCIL   23-Jun-2021  ...          217           231

[6 rows x 15 columns]

In [21]:
final1

       SYMBOL    DATE1_tday  ...  Entry_Price  Target_Price
0         ITI   23-Jun-2021  ...          133           140
1   MAHINDCIE   23-Jun-2021  ...          221           236
2     JKPAPER   23-Jun-2021  ...          205           221
3         BEL   23-Jun-2021  ...          157           171
4      MARUTI   23-Jun-2021  ...         7328          7787
5     OLECTRA   23-Jun-2021  ...          197           214
6    INDHOTEL   23-Jun-2021  ...          141           150
7         CUB   23-Jun-2021  ...          164           174
8         OIL   23-Jun-2021  ...          152           160
9        ONGC   23-Jun-2021  ...          121           128
10      NOCIL   23-Jun-2021  ...          217           231
11        M&M   23-Jun-2021  ...          778           820
12  IBREALEST   23-Jun-2021  ...          114           122
13        IRB   23-Jun-2021  ...          158           170
14     ASHOKA   23-Jun-2021  ...          100           107
15        UPL   23-Jun-2021  ...          798           843
16   HDFCLIFE   23-Jun-2021  ...          717           754

[17 rows x 15 columns]